*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgba(201, 76, 26, 0.212);
}
.heading{
    color: rgba(58, 40, 87, 0.76);
    font-size: 3.0rem;
    font-weight: 350;
}
.title{
    color: rgba(37, 46, 59, 0.74);
    font-size: 3.5rem;
    font-weight: 350;
    box-shadow: 1px 15px 10px rgba(64, 74, 107, 0.185);
}
.user_field{
    margin-left: 5rem;
}
.input{
    outline: none;
    padding: 1rem;
    padding-right: 8rem;
    margin-top: 2rem;
    border: none;
    font-size: inherit;
    border-radius: 8px;
    color: rgb(241, 12, 12);
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(37, 23, 23, 0.733);
    background-color: rgba(0, 0, 0, 0);
}
.input:focus{
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}
::placeholder{
    padding-left: 10px;
    color: rgb(35, 29, 63);
}
.btn{
    margin-top: 1rem;
    margin-left: 4rem;
    border-radius: 15px;
    border: none;
    padding: 1.4rem;
    font-size: 25px;
    color: rgba(48, 17, 202, 0.671);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 10px rgba(37, 23, 23, 0.733);
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(37, 23, 23, 0.733);
}
