*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*---db styles---*/
tr:nth-child(even),table.list>tr {
    background-color: #9e8fd43d;
}
.edits{
    margin-left: 10px;
    background-color: rgba(200, 151, 245, 0.37);
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}
.edits:hover{
    cursor: pointer;
    background-color: rgba(48, 17, 202, 0.425);
}
tbody{
    text-align: center;
}
.thead{
    padding: 20px 20px 10px 20px;
    color: rgba(80, 82, 177, 0.89);
    margin: 00px 40px 00px 40px;
    font-weight: 400;
    font-size: 22px;
}
.data_set{
    flex: 1;
    margin-left: 3rem;
}
th{
    border-bottom: 2px solid rgb(92, 82, 102);
    border-radius: 8px;
}

/*---db styles---*/
.user_field{
    background-color: white;
    margin-top: 30px;
    padding-left: 3rem;
    padding-right: 40px;
    border-radius: 0px 20px 20px 00px;
    padding-bottom: 25px;
    box-shadow: 10px 10px 10px rgba(64, 74, 107, 0.678);
}
.divider_div{
    background-color: rgba(60, 84, 136, 0.212);
    display: flex;
    padding-bottom: 43px;
}/*
body{
    background-color: rgba(60, 84, 136, 0.212);
}*/
.heading{
    color: rgba(58, 40, 87, 0.76);
    font-size: 3.0rem;
    font-weight: 350;
}
.title{
    color: rgba(37, 46, 59, 0.74);
    font-size: 3.5rem;
    font-weight: 350;
    box-shadow: 1px 15px 10px rgba(64, 74, 107, 0.185);
}
.top{
    background-color:  rgba(95, 113, 172, 0.418);
}
.input{
    outline: none;
    padding: 1rem;
    padding-right: 7rem;
    margin-top: 2rem;
    border: none;
    font-size: inherit;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 5px 10px rgba(37, 23, 23, 0.733);
    background-color: rgba(0, 0, 0, 0);
}
.input:focus{
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}
::placeholder{
    padding-left: 10px;
    color: rgba(35, 29, 63, 0.671);
}
.btn{
    margin-top: 1rem;
    margin-left: 4rem;
    border-radius: 15px;
    border: none;
    padding: 1.4rem;
    font-size: 25px;
    color: rgba(48, 17, 202, 0.671);
    box-shadow: 5px 5px 10px rgba(37, 23, 23, 0.733);
}
.btn:hover{
    background-color: rgba(48, 17, 202, 0.671);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(37, 23, 23, 0.733);
}
.input:focus{
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}
::placeholder{
    padding-left: 10px;
    color: rgb(35, 29, 63);
}
.btn{
    margin-top: 1rem;
    margin-left: 4rem;
    border-radius: 15px;
    border: none;
    padding: 1.4rem;
    font-size: 25px;
    color: rgba(48, 17, 202, 0.671);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 10px rgba(37, 23, 23, 0.733);
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(37, 23, 23, 0.733);
}
